#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  place-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.App h1 {
  color: #3b4cca; /* Pokémon blue */
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}